{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
    <h2>Mon CV :</h2>
 <a href="cv.pdf" class="cv-download-button" download>
            📄 Télécharger le CV
        </a>
{% endblock %}
