{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
<div class="cv">
    <h2>Mon CV</h2>
    <p>
        Vous pouvez télécharger mon CV en cliquant sur le bouton ci-dessous :
    </p>
    <div>
        <a href="{{ asset('CV.pdf') }}" download class ="download-btn">
            Télécharger le CV
        </a>
    </div>
    <iframe src="{{ asset('CV.pdf') }}" title="Aperçu du CV" class="iframe"></iframe>
</div>
{% endblock %}
