{% extends 'base.html.twig' %}

{% block title %}Veille technologique{% endblock %}

{% block body %}
    <div class="veille">
        <h1>Veille technologique</h1>

        {% set rss_url = 'https://www.actuia.com/feed/' %}
        {% set feed_items = [] %}

        {% if rss_url is not empty %}
            {% set xml = false %}
            {% set context = {
                "http": {
                    "user_agent": "Mozilla/5.0"
                }
            } %}
            {% set xml_content = '' %}
            {% if rss_url is not empty %}
                {% set xml_content = '' %}
                {% set xml = false %}
            {% endif %}
            {% if xml and xml.channel and xml.channel.item %}
                {% set feed_items = xml.channel.item %}
            {% endif %}
        {% endif %}

        {% if feed_items|length > 0 %}
            <ul class="rss-list">
                {% for item in feed_items|slice(0, 10) %}
                    <li>
                        <strong>{{ item.pubDate|date("d/m/Y") }}</strong> :
                        <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Erreur de chargement du flux.</p>
        {% endif %}
    </div>
{% endblock %}
