{% extends 'base.html.twig' %}

{% block title %}Veille technologique{% endblock %}

{% block body %}
    
    <div class="veille">
        <h1>{{ page_title }}</h1>
        <p>J'ai pris pour thème de la veille : l'IA car c'est un domaine en pleine expansion qui influence de nombreux secteurs 
            et c'est surtout un sujet qui fait débat actuellement.</p><br>
        <p>Voici les dernières actualités sur l'intelligence artificielle:</p>
        {% if feed_items|length > 0 %}
            <ul class="rss-list">
                {% for item in feed_items|slice(0, 10) %}
                    <li>
                        <strong>{{ item.pubDate|date("d/m/Y") }}</strong> :
                        <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Erreur de chargement du flux.</p>
        {% endif %}
    </div>
    {% endblock %}