{% extends 'base.html.twig' %}

{% block title %}Compétences en cybersécurité{% endblock %}

{% block body %}
<div>
    <h2>Compétences en cybersécurité :</h2>
    <ul>
        <li><strong>Clé privée et clé publique</strong> : Cryptographie asymétrique pour sécuriser les échanges.</li>
        <li><strong>QRCode et Code Barre</strong> : Génération et validation de QR codes et codes-barres pour l'authentification et le suivi.</li>
        <li><strong>Codage en base 64</strong> : Encodage et décodage de données en base 64 pour une transmission sécurisée.</li>
        <li><strong>Cryptage irréversible de mot de passe</strong> : Hachage sécurisé (base 64) pour protéger les mots de passe.</li>
        <li><strong>Cryptage réversible de données</strong> : Algorithmes de chiffrement symétrique pour protéger les données sensibles.</li>
        <li><strong>Man In The Middle</strong> : Interception et manipulation des communications entre deux parties.</li>
        <li><strong>Reconnaissance faciale</strong> : Techniques d'identification et de vérification des individus par leurs traits faciaux.</li>
        <li><strong>XSS ET CSRF</strong> : Protection contre les attaques par injection de scripts et les falsifications de requêtes intersites.</li>
    </ul>
</div>
{% endblock %}
