{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
<div class="competences-menu">
    <h2>Mes compétences :</h2>
    <ul style="list-style: none; padding: 0;">
        <li style="margin-bottom: 20px;">
            <a href="{{ path('app_competences_programmation') }}" class="btn btn--programmation">
                Programmation
            </a>
        </li>
        <li style="margin-bottom: 20px;">
            <a href="{{ path('app_competences_reseaux') }}" class="btn btn--reseaux">
                Réseaux
            </a>
        </li>
        <li>
            <a href="{{ path('app_competences_cyber') }}" class="btn btn--cyber">
                Cybersécurité
            </a>
        </li>
    </ul>
</div>
{% endblock %}
