{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
<h2>Mes compétences :</h2>
<a href="{{ path('app_competences_programmation') }}">Compétences en programmation et développement</a><br>
<a href="{{ path('app_competences_reseaux') }}">Compétences en administration réseau</a><br>
<a href="{{ path('app_competences_cyber') }}">Compétences en cybersécurité</a><br>
{% endblock %}
