{% extends 'base.html.twig' %}

{% block title %}Compétences en programmation et developpement{% endblock %}

{% block body %}
<div class="programmation">
   
    <h2 class="">Compétences en programmation et développement</h2>

    <div class="sections">
        <section class="langages">
            <h3>Langages de programmation</h3>
            <ul>
                <li>
                    <strong>HTML</strong>
                    <ul>
                        <li>Création de sites web modernes et responsives</li>
                    </ul>
                </li>
                <li>
                    <strong>Python</strong>
                    <ul>
                        <li>Utiliser les opérateurs Python</li>
                        <li>Utilisation des commandes pour les listes et tableaux (len, res, etc.)</li>
                    </ul>
                </li>
                <li>
                    <strong>JavaScript</strong>
                    <ul>
                        <li>Créer et gérer des formulaires</li>
                        <li>Développement d'applications interactives (ex: jeu de casse-brique)</li>
                        <li>Les bases de Next.js
                            <ul>
                                <li>Création de pages et de composants</li>
                                <li>Gestion des routes et de la navigation</li>
                                <li>Utilisation de l'API Fetch pour récupérer des données</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>PHP</strong>
                    <ul>
                        <li>Création et gestion de formulaires sécurisés</li>
                        <li>Gestion des logs et des erreurs</li>
                        <li>Connexion et manipulation de bases de données avec PDO</li>
                        <li>Les bases de Symfony
                            <ul>
                                <li>Gérer les entités, les contrôleurs, les routes et les templates</li>
                                <li>Utiliser Doctrine pour les opérations CRUD</li>
                                <li>Utiliser Twig pour le rendu des templates</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>C#</strong>
                    <ul>
                        <li>Programmation orientée objet avec EnigmAlgo</li>
                        <li>Classification d’objets et gestion de collections</li>
                        <li>Création graphique 2D/3D</li>
                    </ul>
                </li>
            </ul>
        </section>

        <section class="BD">
            <h3>Bases de données</h3>
            <ul>
                <li>
                    <strong>SQL</strong>
                    <ul>
                        <li>Requêtes avancées : jointures, sous-requêtes, agrégations</li>
                        <li>Gestion et modification de bases de données</li>
                    </ul>
                </li>
            </ul>
        </section>

        <section class="GIT">
            <h3>Git &amp; GitHub</h3>
            <ul>
                <li>Création et gestion d’arborescences de projets</li>
                <li>Clonage, fusion et gestion de branches</li>
                <li>Suivi et gestion des modifications de code</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
