{% extends 'base.html.twig' %}

{% block title %}Compétences en administration réseau{% endblock %}

{% block body %}
<div class="reseau">
   
    <h2>Compétences en administration réseau</h2>

    <div class="sections">
        <section class="general">
            <h3>Administration & Outils</h3>
            <ul>
                <li>
                    <strong>Proxmox</strong>
                    <ul>
                        <li>Installation et gestion de consoles virtuelles (Windows 10 2022, Windows 10 Pro, Linux Debian) et de conteneurs.</li>
                    </ul>
                </li>
                <li>
                    <strong>SSH</strong>
                    <ul>
                        <li>Sécurisation de consoles Debian.</li>
                    </ul>
                </li>
                <li>
                    <strong>IPfire</strong>
                    <ul>
                        <li>Gestion des ports réseau.</li>
                    </ul>
                </li>
            </ul>
        </section>

        <section class="windows">
            <h3>Sur machines virtuelles <span class="badge bg-primary">Windows</span></h3>
            <ul>
                <li>
                    <strong>AD/DS (Active Directory/Domain Services)</strong>
                    <ul>
                        <li>Création et gestion de GPO (stratégies de groupe)</li>
                        <li>Création d'OU, attribution de rôles</li>
                        <li>Mapping de lecteurs pour utilisateurs/groupes</li>
                    </ul>
                </li>
                <li>
                    <strong>LDAP (Lightweight Directory Access Protocol)</strong>
                    <ul>
                        <li>Intégration de domaines avec GLPI et Nextcloud.</li>
                    </ul>
                </li>
            </ul>
        </section>

        <section class="linux">
            <h3>Sur machines virtuelles <span class="badge bg-success">Linux</span></h3>
            <ul>
                <li>
                    <strong>Apache2</strong>
                    <ul>
                        <li>Création et sécurisation de sites web avec Apache2</li>
                        <li>Configuration de virtualhosts</li>
                        <li>Utilisation de liens LDAP</li>
                    </ul>
                </li>
                <li>
                    <strong>Docker</strong>
                    <ul>
                        <li>Conteneurisation d'applications et de données</li>
                        <li>Montage de volumes pour la persistance des données</li>
                        <li>Utilisation de liens LDAP</li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
