{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="contact" role="region" aria-labelledby="contact-title"></section>
    <header class="contact_titre">
        <h1 id="contact-title">Contact</h1>
    </header>
    <p>
        Si mon profil vous intéresse, vous pouvez me contacter par :
    </p>
    <ul>
        <li>
            <article>
                <h2>Adresse postale</h2>
                <address>
                    1576, Route des Aubrils, Mortain, La Grande Noé<br>
                    50140 Mortain-Bocage
                </address>
            </article>
        </li>
        <li>
            <article>
                <h2>Adresses e‑mail</h2>
                <ul>
                    <li><span>Outlook :</span> <a href="mailto:brewen2006@outlook.fr">brewen2006@outlook.fr</a></li>
                    <li><span>Infomaniak :</span> <a href="mailto:brewen68@ik.me">brewen68@ik.me</a></li>
                </ul>
            </article>
        </li>
        <li>
            <article>
                <h2>Téléphones</h2>
                <ul>
                    <li><span>Portable :</span> <a href="tel:+33767193852">07 67 19 38 52</a></li>
                    <li><span>Fixe :</span> <a href="tel:+33233499450">02 33 49 94 50</a></li>
                </ul>
            </article>
        </li>
    </ul>
</section>
{% endblock %}