<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
        {% block stylesheets %}
        <link href="/style/app.css" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="/">Accueil</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mx-2" id="dropdown-competences">
                    <a class="nav-link dropdown-toggle" href="/compétences" id="navbarDropdownCompetences"
                        role="button" aria-expanded="false">
                        Compétences
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCompetences">
                        <li><a class="dropdown-item" href="/compétences/programmation">Programmation</a></li>
                        <li><a class="dropdown-item" href="/compétences/réseaux">Réseaux</a></li>
                        <li><a class="dropdown-item" href="/compétences/cybersécurité">Cybersécurité</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/expériences">Expériences professionnelles</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/projet">Projet professionnel</a>
                </li>
                <li class="nav-item dropdown mx-2" id="dropdown-obtentions">
                    <a class="nav-link dropdown-toggle" href="/obtentions" id="navbarDropdownObtentions" role="button"
                        aria-expanded="false">
                        Obtentions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownObtentions">
                        <li><a class="dropdown-item" href="/obtentions/certifications">Certifications</a></li>
                        <li><a class="dropdown-item" href="/obtentions/diplomes">Diplômes</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/veille">Veille technologique</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/cv">CV</a>
                </li>
            </ul>
        </nav>

    </header>
    <main>{% block body %}{% endblock %}</main>
    <footer>
        <p>&copy; {{ "now"|date("Y") }} Brewen. Tous droits réservés. | <a href="/contact">Contact</a></p>
    </footer>
</body>

</html>