{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="bienvenue">
    <h1>Bienvenue sur mon portfolio</h1>
    <p>Je m'appelle Brewen Frotin et j'ai 19 ans. Je suis étudiant en BTS Services Informatiques aux Organisations (SIO) <br>
        au lycée Notre Dame de La Providence à Avranches. Je suis spécialité Solutions Logicielles et Applications Métiers (SLAM).</p>
</div>
{% endblock %}  