{% extends 'base.html.twig' %}

{% block title %}Certifications{% endblock %}

{% block body %}
<div class="certifications">
    <h2>Certifications</h2>

    <section>
        <h3>Collège Sacré Coeur de Mortain</h3>
        <ul>
            <li>
                {#<a href="attestation-pix-20210331.pdf" class="certification-button" target="_blank" rel="noopener noreferrer">#}
                    <strong>PIX</strong> <span class="year">2021</span>
                {#</a>#}
            </li>
        </ul>
    </section>

    <section>
        <h3>Lycée Notre Dame de La Providence, Avranches</h3>
        <ul>
            <li>
                {#<a href="attestation-pix-20240216.pdf" class="certification-button" target="_blank" rel="noopener noreferrer">#}
                    <strong>PIX</strong> <span class="year">2024</span>
                {#</a>#}
            </li>
            <li>
                {#<a href="attestation-ANSSI.pdf" class="certification-button" target="_blank" rel="noopener noreferrer">#}
                    <strong>ANSSI</strong> <span class="year">2025</span>
                {#</a>#}
            </li>
            <li>
                <span class="certification-name"><strong>Voltaire</strong></span> <span class="year">2025</span>
            </li>
        </ul>
    </section>
</div></a>
{% endblock %}
