{% extends 'base.html.twig' %}

{% block title %}Diplômes{% endblock %}

{% block body %}
<section class="diplomes-section">
    <h2 class="section-title"></h2>
        Diplômes
    </h2>

    <div class="diplome-group">
        <h3 class="school-title">
            Collège Sacré Coeur de Mortain
        </h3>
        <ul class="diplome-list">
            <li>
                <span>
                    Diplôme de Secourisme
                </span>
                <span class="diplome-year">2019</span>
            </li>
            <li>
                <span>
                    Brevet des Collèges
                </span>
                <span class="diplome-mention">(Mention Bien)</span>
                <span class="diplome-year">2021</span>
            </li>
        </ul>
    </div>

    <div class="diplome-group">
        <h3 class="school-title">
            Lycée Institut Sévigné à Granville
        </h3>
        <ul class="diplome-list">
            <li>
                <span>
                    Journée du citoyen
                </span>
                <span class="diplome-year">2024</span>
            </li>
        </ul>
    </div>

    <div class="diplome-group">
        <h3 class="school-title">
            Lycée Notre Dame de La Providence à Avranches
        </h3>
        <ul class="diplome-list">
            <li>
                <span>
                    Baccalauréat STMG
                </span>
                <span class="diplome-year">2024</span>
            </li>
        </ul>
    </div>
    <div class="diplome-group">
        <h3 class="school-title">
            Auto-Stop Conduite à Mortain-Bocage
        </h3>
        <ul class="diplome-list">
            <li>
                <span>
                    Permis B
                </span>
                <span class="diplome-year">2025</span>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
