{% extends 'base.html.twig' %}

{% block title %}Obtentions{% endblock %}

{% block body %}
<div class="obtention-container">
    <h2 class="obtention-title">Mes obtentions :</h2>
    <ul class="obtention-list">
        <li class="obtention-item">
            <a href="{{ path('app_obtentions_diplomes') }}" class="obtention-link">
                Diplômes
            </a>
        </li>
        <li class="obtention-item">
            <a href="{{ path('app_obtentions_certifications') }}" class="obtention-link">
                Certifications
            </a>
        </li>
    </ul>
</div>
{% endblock %}
