{% extends 'base.html.twig' %}

{% block title %}Obtentions{% endblock %}

{% block body %}
<h2>Mes obtentions :</h2>
<a href="{{ path('app_obtentions_diplomes') }}">Diplômes</a><br>
<a href="{{ path('app_obtentions_certifications') }}">Certifications</a><br>
{% endblock %}
